<nav class="navbar navbar-default2 navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item">
            <a href="widget-heading.view.client.html">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-image.view.client.html">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-youtube.view.client.html">
                YouTube
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-chooser.view.client.html">
                Label
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-chooser.view.client.html">
                Clock
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-chooser.view.client.html">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-chooser.view.client.html">
                Data Table
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-chooser.view.client.html">
                Repeater
            </a>
        </li>

    </ul>

</div>

<nav class="navbar navbar-default2 navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
    </div>
</nav>
