
<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  href="#/moviedefault" class="navbar-brand" rel="home" >
                <img class="logo_film"
                     src="./img/moviezone-logo.jpg">
            </a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-text pull-right">
                <a ng-if="model.admin" class="makeblack" href="#/adminconsole">
                    <span class="fa fa-lg fa-user-secret admin" aria-hidden="true"></span>
                </a>
                <a>  </a>
                <a ng-if="model.user" class="mycustomfont" href="#/moviedefault">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"> </span></a>



            </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid pushdown">
    <div class="container-fluid">
        <div class="input-group">
            <input ng-model = "model.movieName"
                   type="text"
                   placeholder="Search movie.."
                   class="form-control ng-pristine ng-valid ng-touched">
            <span class="input-group-btn ">
               <a href ="#/search/{{model.movieName}}"
                  class="btn btn-info makegray"
                  type="button">
                   <span class="glyphicon glyphicon-search"></span>
               </a>
            </span>
        </div>
        <h2 class="page-header">Welcome {{model.user.firstName}}  </h2>

        <div class="row">
            <div class="col-xs-6">
                <div class="container-fluid">
                    <h3>My Ratings</h3>
                    <div ng-if="model.norates">
                        No movies reviewed. Review your favorite movie now!
                    </div>
                    <div ng-repeat="rates in model.user.rates" class="row">
                        <a class="makeblack" href="#/movie/{{rates.tmdbId}}">
                            <div class="col-xs-4">
                                <img ng-src="{{rates.imageUrl}}" width = 70>
                                <h5>{{rates.name}}</h5>
                            </div>
                        </a>
                        <p></p>
                        <div class="col-xs-8">
                            <h4>My rating: {{rates.rating}}/5</h4>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-6">
                <div class="container-fluid">
                    <h3>My Reviews</h3>

                    <div ng-if="model.norates">
                        No movies rated. Rate your favorite movie now!
                    </div>
                    <div ng-repeat="reviews in model.user.reviews" class="row">
                        <a class="makeblack" href="#/movie/{{reviews.tmdbId}}">
                            <div class="col-xs-4">
                                <img ng-src="{{reviews.imageUrl}}" width = 70>
                                <h5>{{reviews.name}}</h5>

                            </div>
                        </a>


                        <div class="col-xs-8">
                            <h4>{{reviews.review}}</h4>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>

            <p></p>
            <p></p>
            <div class="container-fluid">
                <h3>People you follow</h3>
                <div ng-if="model.nofollowers">
                    You have not followed anyone so far!
                </div>
                <div ng-repeat ="follow in model.user.follows">
                    <li>
                        <a class="blackcolor" href ="#/user/profile/{{follow.username}}">
                            {{follow.username}}
                        </a>
                    </li>

                </div>
            </div>

        </div>
    </div>
</div>


    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a class="mycustomfont" href="#/editprofile">
                    <span class="glyphicon glyphicon-user">Edit</span>
                </a>
            </div>




            <div class="navbar-text pull-left">
                <a class="mycustomfont" ng-click="model.logout()">
                    <span class="glyphicon glyphicon-off"></span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
        </div>
    </nav>
