<nav class="navbar navbar-default2 navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">Pages</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 pull-right">
            <div class="navbar-text pull-left hidden-md hidden-lg hidden-sm">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updatePage(page)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Edit Page</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs border">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="../../widget/templates/widget-list.view.client.html">
                        Blog Post
                    </a>
                    <a href="../page/page-edit.view.client.html" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="../../widget/templates/widget-list.view.client.html">
                        Blogs
                    </a>
                    <a href="../page/page-edit.view.client.html" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="../../widget/templates/widget-list.view.client.html">
                        Home
                    </a>
                    <a href="../page/page-edit.view.client.html" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="../../widget/templates/widget-list.view.client.html">
                        About
                    </a>
                    <a href="../page/page-edit.view.client.html" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="../../widget/templates/widget-list.view.client.html">
                        Contact Us
                    </a>
                    <a href="../page/page-edit.view.client.html" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 pull-right">
            <label for="name">Name</label>
            <input class="form-control" id="name" placeholder="Name">

            <label for="title">Title</label>
            <textarea rows="5" class="form-control" id="title" placeholder="Title"></textarea>
            <div><a href="page-list.view.client.html" class="btn btn-danger btn-block">Delete</a></div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default2 navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
    </div>
</nav>
