<div>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name"
                   ng-model="model.widget.name" type="text"
                   placeholder="name"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input id="text"
                   ng-model="model.widget.text" type="text"
                   placeholder="text"
                   class="form-control"/>
        </div>
        <div class="form-group">

            <label for="url">URL</label>
            <input id="url"
                   ng-model="model.widget.url" type="url"
                   class="form-control"/>

        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input id="width"
                   ng-model="model.widget.width" type="text"
                   class="form-control"
                   value="100%"/>
        </div>

        <div class="form-group">

            <label for="uploading">Upload</label>
            <input id="uploading"
                   type="file"
                   class="form-control"/>

        </div>
    </form>

    <a class="btn btn-primary btn-block">Upload Image</a>
</div>