<div>
    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name"
                   ng-model="model.widget.name" type="text"
                   placeholder="name"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input id="text"
                   ng-model="model.widget.text" type="text"
                   placeholder="text"
                   class="form-control"/>
        </div>
        <div class="form-group">

            <label for="url">URL</label>
            <input id="url"
                   ng-model="model.widget.url" type="url"
                   class="form-control"/>

        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input id="width"
                   ng-model="model.widget.width" type="text"
                   class="form-control"
                   value="100%"/>
        </div>

        <div class="form-group">
            <label for="widgetUpload">Upload</label>
            <input type="file" id="widgetUpload" name="myFile" class="form-control"/>
            <input name="widgetId" value="{{model.widget._id}}" style="display: none"/>
            <input name="pageId" value="{{model.pageId}}" style="display: none"/>
            <input name="userId" value="{{model.userId}}" style="display: none"/>
            <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
            <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
            <a class="btn btn-primary btn-block"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/flickr">Search</a>
        </div>
    </form>


    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>



</div>