<nav class="navbar navbar-default2 navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.widgetId}}">
                <span class="glyphicon glyphicon-chevron-left navbar-glyphicon"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus navbar-glyphicon"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">Widgets</a>
        </div>
    </div>
</nav>

<div class="container-fluid marginTop">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div class="container">
        <div class="input-group">
            <input ng-model="searchText" type="text" class="form-control" placeholder="Search Images" ng-keyup="$event.keyCode == 13 && model.searchPhotos(searchText)" >
            <span class="input-group-btn">
            <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
        </div>
    </div>
    <div class="row borderMargin">
        <div class="container-fluid">
            <div class="col-xs-4" ng-repeat="photo in model.photos.photo">

                <img ng-click="model.selectPhoto(photo)" class="img-thumbnail"
                     ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_c.jpg"/>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default2 navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-chevron-right navbar-glyphicon"></span>
        </div>
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-eye-open navbar-glyphicon"></span>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user navbar-glyphicon"></span></a>
        </div>
    </div>
</nav>