<div>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name"
                   ng-model="model.widget.name" type="text"
                   placeholder="name"
                    class="form-control"/>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input id="text"
                   ng-model="model.widget.text" type="text"
                    class="form-control"
                    placeholder="text"/>
        </div>

        <div class="form-group">
        <label for="size">Size</label>
        <input id="size"
               ng-model="model.widget.size"
               type="number"
               class="form-control"
                placeholder="enter size">
        </div>
    </form>
</div>

